{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ title }} | {{ block.super }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="span6" id="pca">PCA Plot</div>
        </div>
        <div class="col-sm-6">
            <div class="span6" id="scree">Scree Plot</div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static "js/pca.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.6.0/math.min.js"></script>
{% endblock %}