{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ title }} | {{ block.super }}{% endblock %}
{% block content %}
    <div class="selection sidenav col-sm-4 lists">
        <h1>X Axis</h1>
        <ul id="x-feature" class="feature-selection">
            <li id="x-month">Month</li>
            <li id="x-FFMC">FFMC</li>
            <li id="x-ISI">ISI</li>
            <li id="x-temp">temp</li>
            <li id="x-RH">RH</li>
            <li id="x-wind">Wind</li>
            <li id="x-area">Area</li>
        </ul>
        <h1>Y Axis</h1>
        <ul id="y-feature" class="feature-selection">
            <li id="y-month">Month</li>
            <li id="y-FFMC">FFMC</li>
            <li id="y-ISI">ISI</li>
            <li id="y-temp">temp</li>
            <li id="y-RH">RH</li>
            <li id="y-wind">Wind</li>
            <li id="y-area">Area</li>
        </ul>
    </div>

    <div id="scatter"></div>

    {% block scripts %}
        <script src="{% static "js/scatter.js" %}"></script>
    {% endblock %}
{% endblock %}